/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

/* Estilo do header */
header {
    background-color: #00319be0;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

/* Botão do menu hamburguer */
#menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

/* Navegação */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;  
}

nav ul li {
    margin: 0 40px;   
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 28px; 
    font-weight: bold;
    padding: 15px 25px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #48565c;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #fffbf0;
    font-size: 22px; 
    overflow-x: hidden;
}

/* Inicio */
.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #a8ceff10 0%, #4a56cad2 40%, #002063 100%), url('imgs/fundoimagem_blue1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0 5vw; 
    font-size: 50px;
    color: rgb(255, 255, 255);
}

/* Sobre */
.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    background: linear-gradient(to top, #003e91 0%, #002063 35%, #002063 100%);
    width: 100%;
    min-height: 100vh;
    padding: 10rem 20vw; 
    font-size: 29px;
}

.sobre h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px; 
}

/* Habilidades */
.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom,#003e91 0%,#002063 35%, #2d37c0 100%);
    padding: 5rem 10vw;
    gap: 60px;
    font-size: 29px;
    width: 100%;
}

.container_habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    min-height: 100vh;
    padding: 60px;
}

.habilidades h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px; 
}

.container_habilidades_lista ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center; 
    gap: 60px;
    width: 100%;
}

/* Projetos */
.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to top,#003e91 0%, #002063 35%, #2d37c0 100%);
    padding: 12rem 10vw; 
    gap: 60px;
}

.container_projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    min-height: 80vh;
    padding: 60px;
    width: 100%;
}

.projetos .projetos_h2 {
    text-align: center;
    color: white;
    font-size: 45px; 
}

.projetos .link_projetos { 
    width: 250px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(129, 129, 129, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
    color: rgb(12, 0, 54);
}

.projetos .link_projetos:hover { 
    transform: translateY(-10px) scale(1.1); 
    box-shadow: 0 12px 25px rgba(216, 216, 216, 0.3);
}

/* Contato */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #002063;
    text-align: center;
    padding: 5rem 2rem;
    font-size: 29px;
    color: white;
}

.contato h3 {
    color: white;   
    font-size: 50px; 
}

.contato ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center; 
    gap: 80px;
    padding-top: 60px;
}

.link_social {
    box-shadow: 0 4px 15px #001f63;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.link_social:hover { 
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 12px 25px #002063;
}

#menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: rgb(131, 188, 211);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1001;
}

/* Menu NAV escondido por padrão */
#menu {
    display: flex;
    justify-content: center;
}

/* MOBILE */
@media (max-width: 768px) {
    #menu {
        display: none; /* Esconde o menu */
        flex-direction: column;
        align-items: center;
        background-color: #002f94e0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        padding: 20px 0;
        width: 100%;
    }

    #menu.active {
        display: flex; /* Mostra o menu quando clicar */
    }

    #menu-toggle {
        display: block;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 15px 0;
    }


    .inicio {
        font-size: 25px;
        padding: 20px;
    }

    .sobre {
        padding: 5rem 10vw;
        font-size: 16px;
    }

    .habilidades {
        font-size: 16px;
    }
    .habilidaes h2 {
        font-size: 40px;
    }

    .container_habilidades {
        gap: 60px;
        min-height: auto;
    }
    .projetos_h2{
        font-size: 40px;
    }

    .container_projetos {
        flex-direction: column;
        min-height: auto;
        gap: 40px;
    }

    

    .projetos .link_projetos {
        width: 80%;
        height: 150px;
    }

    .contato {
        padding: 3rem 1rem;
        font-size: 16px;
    }

    .contato h3 {
        font-size: 40px;
    }

    .contato ul {
        gap: 40px;
    }
}
